.bgfooter{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.bgfooter h1{
    color: aliceblue;

}

#smediaicons{
    width: 100%;
    display: flex;
   
}
#smediaicons a{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    background-color: white;
    margin: 5px;
    line-height: 60px;
    box-shadow: 1px 2px 4px 2px rgb(87, 85, 87);
}
#smediaicons a:hover{
    background-color:red;
}

#smediaicons a i{
    transition: all 0.3s linear;
}
#smediaicons a i:hover{
    transform: scale(1.4);
}
.fa-facebook-f{
    color: black;
} 
.fa-linkedin-in{
    color: black;
}
.fa-instagram{
    color: black;
}
.fa-x-twitter{
    color: rgb(0, 0, 0);
}
.fa-whatsapp{
    color: black;
}
.fa-telegram{
    display: flex;
    color: red;
}
.fa-telegram p{
    color: aliceblue;
}
.fa-phone{
    display: flex;
    color: red;
}
.phtl p{
    color: aliceblue;
}
.phtl{
    display: flex;
    align-items: center;
}
.form-container {
    width: 650px;
    background: linear-gradient(#000000, #000000) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: #313131;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: #313131;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  
