.navbar{
font-family: 'Roboto Condensed', sans-serif;
background: transparent;

}
.navbar-brand{
    font-size: 2rem;
    color: aliceblue !important;
    font-weight: bold;
}
#navbarSupportedContent a{
    position: relative;
    color: aliceblue;
}
#navbarSupportedContent a:hover{
    color: aqua;
}


#navbarSupportedContent a{
    position: relative;
    font-weight: bold;
    color:aliceblue;
    text-decoration: none;

}
#navbarSupportedContent a:before{
content:"";
position: absolute;
bottom: 0px;
height: 3px;
width: 0;
background: aqua;
border-radius: 50px;      
transition: width 0.3s ease;
}
#navbarSupportedContent a:hover::before{
    width: 80%;
}
   
.active{
    font-weight: bold;
    color: aqua !important ;
}