.bgexperience{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.experience{
    display: flex;
    justify-content: center;
}
.bgexperience h1{
    color: aliceblue;
    text-align: center;
}
