.card-title {
  color: #f9f2f2;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  
}

.small-desc {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #f6f2f2;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6493c6, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.scard {
  display: block;
  position: relative;
  max-width: 300px;
  height: 300px;
  background-color: #384041;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #2f3334, #2f3334);
  font-family: Arial, Helvetica, sans-serif;
}

.scard:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: red;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.scard:hover:before {
  transform: scale(28);
}

.scard:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.scard:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

